<h3>des.3.1.0</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.1.0.txt">des.3.1.0</a>  contains a 3-dimensional 1-point spherical 0-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.2.1</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.2.1.txt">des.3.2.1</a>  contains a 3-dimensional 2-point spherical 1-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.3.1</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.3.1.txt">des.3.3.1</a>  contains a 3-dimensional 3-point spherical 1-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.4.2</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.4.2.txt">des.3.4.2</a>  contains a 3-dimensional 4-point spherical 2-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.5.1</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.5.1.txt">des.3.5.1</a>  contains a 3-dimensional 5-point spherical 1-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.6.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.6.3.txt">des.3.6.3</a>  contains a 3-dimensional 6-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.7.2</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.7.2.txt">des.3.7.2</a>  contains a 3-dimensional 7-point spherical 2-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.8.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.8.3.txt">des.3.8.3</a>  contains a 3-dimensional 8-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.9.2</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.9.2.txt">des.3.9.2</a>  contains a 3-dimensional 9-point spherical 2-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.10.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.10.3.txt">des.3.10.3</a>  contains a 3-dimensional 10-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.11.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.11.3.txt">des.3.11.3</a>  contains a 3-dimensional 11-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.12.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.12.5.txt">des.3.12.5</a>  contains a 3-dimensional 12-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.13.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.13.3.txt">des.3.13.3</a>  contains a 3-dimensional 13-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.14.4</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.14.4.txt">des.3.14.4</a>  contains a 3-dimensional 14-point spherical 4-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.15.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.15.3.txt">des.3.15.3</a>  contains a 3-dimensional 15-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.16.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.16.5.txt">des.3.16.5</a>  contains a 3-dimensional 16-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.17.4</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.17.4.txt">des.3.17.4</a>  contains a 3-dimensional 17-point spherical 4-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.18.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.18.5.txt">des.3.18.5</a>  contains a 3-dimensional 18-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.19.4</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.19.4.txt">des.3.19.4</a>  contains a 3-dimensional 19-point spherical 4-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.20.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.20.5.txt">des.3.20.5</a>  contains a 3-dimensional 20-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.21.4</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.21.4.txt">des.3.21.4</a>  contains a 3-dimensional 21-point spherical 4-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.22.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.22.5.txt">des.3.22.5</a>  contains a 3-dimensional 22-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.23.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.23.5.txt">des.3.23.5</a>  contains a 3-dimensional 23-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.24.3</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.24.3.txt">des.3.24.3</a>  contains a 3-dimensional 24-point spherical 3-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.24.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.24.7.txt">des.3.24.7</a>  contains a 3-dimensional 24-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.25.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.25.5.txt">des.3.25.5</a>  contains a 3-dimensional 25-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.26.6</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.26.6.txt">des.3.26.6</a>  contains a 3-dimensional 26-point spherical 6-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.27.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.27.5.txt">des.3.27.5</a>  contains a 3-dimensional 27-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.28.6</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.28.6.txt">des.3.28.6</a>  contains a 3-dimensional 28-point spherical 6-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.29.6</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.29.6.txt">des.3.29.6</a>  contains a 3-dimensional 29-point spherical 6-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.30.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.30.7.txt">des.3.30.7</a>  contains a 3-dimensional 30-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.31.6</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.31.6.txt">des.3.31.6</a>  contains a 3-dimensional 31-point spherical 6-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.32.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.32.7.txt">des.3.32.7</a>  contains a 3-dimensional 32-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.33.6</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.33.6.txt">des.3.33.6</a>  contains a 3-dimensional 33-point spherical 6-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.34.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.34.7.txt">des.3.34.7</a>  contains a 3-dimensional 34-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.35.6</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.35.6.txt">des.3.35.6</a>  contains a 3-dimensional 35-point spherical 6-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.36.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.36.8.txt">des.3.36.8</a>  contains a 3-dimensional 36-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.37.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.37.7.txt">des.3.37.7</a>  contains a 3-dimensional 37-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.38.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.38.7.txt">des.3.38.7</a>  contains a 3-dimensional 38-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.39.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.39.7.txt">des.3.39.7</a>  contains a 3-dimensional 39-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.40.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.40.8.txt">des.3.40.8</a>  contains a 3-dimensional 40-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.41.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.41.7.txt">des.3.41.7</a>  contains a 3-dimensional 41-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.42.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.42.8.txt">des.3.42.8</a>  contains a 3-dimensional 42-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.43.7</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.43.7.txt">des.3.43.7</a>  contains a 3-dimensional 43-point spherical 7-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.44.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.44.8.txt">des.3.44.8</a>  contains a 3-dimensional 44-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.45.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.45.8.txt">des.3.45.8</a>  contains a 3-dimensional 45-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.46.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.46.8.txt">des.3.46.8</a>  contains a 3-dimensional 46-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.47.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.47.8.txt">des.3.47.8</a>  contains a 3-dimensional 47-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.48.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.48.9.txt">des.3.48.9</a>  contains a 3-dimensional 48-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.49.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.49.8.txt">des.3.49.8</a>  contains a 3-dimensional 49-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.50.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.50.9.txt">des.3.50.9</a>  contains a 3-dimensional 50-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.51.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.51.8.txt">des.3.51.8</a>  contains a 3-dimensional 51-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.52.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.52.9.txt">des.3.52.9</a>  contains a 3-dimensional 52-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.53.8</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.53.8.txt">des.3.53.8</a>  contains a 3-dimensional 53-point spherical 8-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.54.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.54.9.txt">des.3.54.9</a>  contains a 3-dimensional 54-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.55.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.55.9.txt">des.3.55.9</a>  contains a 3-dimensional 55-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.56.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.56.9.txt">des.3.56.9</a>  contains a 3-dimensional 56-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.57.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.57.9.txt">des.3.57.9</a>  contains a 3-dimensional 57-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.58.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.58.9.txt">des.3.58.9</a>  contains a 3-dimensional 58-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.59.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.59.9.txt">des.3.59.9</a>  contains a 3-dimensional 59-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.60.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.60.10.txt">des.3.60.10</a>  contains a 3-dimensional 60-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.60.5</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.60.5.txt">des.3.60.5</a>  contains a 3-dimensional 60-point spherical 5-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.60.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.60.9.txt">des.3.60.9</a>  contains a 3-dimensional 60-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.61.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.61.9.txt">des.3.61.9</a>  contains a 3-dimensional 61-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.62.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.62.10.txt">des.3.62.10</a>  contains a 3-dimensional 62-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.63.9</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.63.9.txt">des.3.63.9</a>  contains a 3-dimensional 63-point spherical 9-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.64.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.64.10.txt">des.3.64.10</a>  contains a 3-dimensional 64-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.65.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.65.10.txt">des.3.65.10</a>  contains a 3-dimensional 65-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.66.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.66.10.txt">des.3.66.10</a>  contains a 3-dimensional 66-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.67.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.67.10.txt">des.3.67.10</a>  contains a 3-dimensional 67-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.68.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.68.10.txt">des.3.68.10</a>  contains a 3-dimensional 68-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.69.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.69.10.txt">des.3.69.10</a>  contains a 3-dimensional 69-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.70.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.70.11.txt">des.3.70.11</a>  contains a 3-dimensional 70-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.71.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.71.10.txt">des.3.71.10</a>  contains a 3-dimensional 71-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.72.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.72.11.txt">des.3.72.11</a>  contains a 3-dimensional 72-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.73.10</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.73.10.txt">des.3.73.10</a>  contains a 3-dimensional 73-point spherical 10-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.74.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.74.11.txt">des.3.74.11</a>  contains a 3-dimensional 74-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.75.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.75.11.txt">des.3.75.11</a>  contains a 3-dimensional 75-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.76.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.76.11.txt">des.3.76.11</a>  contains a 3-dimensional 76-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.77.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.77.11.txt">des.3.77.11</a>  contains a 3-dimensional 77-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.78.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.78.11.txt">des.3.78.11</a>  contains a 3-dimensional 78-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.79.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.79.11.txt">des.3.79.11</a>  contains a 3-dimensional 79-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.80.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.80.11.txt">des.3.80.11</a>  contains a 3-dimensional 80-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.81.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.81.11.txt">des.3.81.11</a>  contains a 3-dimensional 81-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.82.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.82.11.txt">des.3.82.11</a>  contains a 3-dimensional 82-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.83.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.83.11.txt">des.3.83.11</a>  contains a 3-dimensional 83-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.84.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.84.12.txt">des.3.84.12</a>  contains a 3-dimensional 84-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.85.11</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.85.11.txt">des.3.85.11</a>  contains a 3-dimensional 85-point spherical 11-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.86.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.86.12.txt">des.3.86.12</a>  contains a 3-dimensional 86-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.87.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.87.12.txt">des.3.87.12</a>  contains a 3-dimensional 87-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.88.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.88.12.txt">des.3.88.12</a>  contains a 3-dimensional 88-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.89.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.89.12.txt">des.3.89.12</a>  contains a 3-dimensional 89-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.90.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.90.12.txt">des.3.90.12</a>  contains a 3-dimensional 90-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.91.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.91.12.txt">des.3.91.12</a>  contains a 3-dimensional 91-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.92.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.92.12.txt">des.3.92.12</a>  contains a 3-dimensional 92-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.93.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.93.12.txt">des.3.93.12</a>  contains a 3-dimensional 93-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.94.13</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.94.13.txt">des.3.94.13</a>  contains a 3-dimensional 94-point spherical 13-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.95.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.95.12.txt">des.3.95.12</a>  contains a 3-dimensional 95-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.96.13</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.96.13.txt">des.3.96.13</a>  contains a 3-dimensional 96-point spherical 13-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.97.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.97.12.txt">des.3.97.12</a>  contains a 3-dimensional 97-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.98.13</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.98.13.txt">des.3.98.13</a>  contains a 3-dimensional 98-point spherical 13-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.99.12</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.99.12.txt">des.3.99.12</a>  contains a 3-dimensional 99-point spherical 12-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.100.13</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.100.13.txt">des.3.100.13</a>  contains a 3-dimensional 100-point spherical 13-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.108.14</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.108.14.txt">des.3.108.14</a>  contains a 3-dimensional 108-point spherical 14-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.120.15</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.120.15.txt">des.3.120.15</a>  contains a 3-dimensional 120-point spherical 15-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.132.15</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.132.15.txt">des.3.132.15</a>  contains a 3-dimensional 132-point spherical 15-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.144.16</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.144.16.txt">des.3.144.16</a>  contains a 3-dimensional 144-point spherical 16-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.156.17</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.156.17.txt">des.3.156.17</a>  contains a 3-dimensional 156-point spherical 17-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.180.18</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.180.18.txt">des.3.180.18</a>  contains a 3-dimensional 180-point spherical 18-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.204.19</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.204.19.txt">des.3.204.19</a>  contains a 3-dimensional 204-point spherical 19-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.216.20</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.216.20.txt">des.3.216.20</a>  contains a 3-dimensional 216-point spherical 20-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
<h3>des.3.240.21</h3>
Found by R. H. Hardin and N. J. A. Sloane . <br>
<a href=" des.3.240.21.txt">des.3.240.21</a>  contains a 3-dimensional 240-point spherical 21-design.<br>
<a href="http://www.research.att.com/~njas/sphdesigns/">For more information</a> |
<a href="http://www.research.att.com/~njas/sphdesigns/index.html#REF">Reference</a> |
<a href="http://www.research.att.com/~njas/">Return to my home page</a><p>
 
